@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: rgb(93, 102, 99);
}
.faq-container{
    min-height: 41vh;
    border-radius: 8px;
    width: 50%;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}