@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.about-container{
    margin: 8rem auto;
    height: 12rem;
    width: 50%;
    font-family: Poppins;
    border: 1px solid rgb(214, 204, 204);
    box-shadow: 2px 2px 8px #707070;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}