@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: Poppins;
  box-sizing: border-box;
  background-color: antiquewhite;
}
.mainContainer {
  border: 1px solid black;
  border-radius: 10px;
  height: 150px;
  width: 50%;
  margin: 20px auto;
  background-color: rgb(115, 179, 159);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
}

.container {
    margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;

  ul {
    margin-right: 7rem;
    font-size: 1rem;
    color: #585858;
    list-style: none;
  }

   li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 197, 197);
    margin: 1.5rem;
    padding: 15px;
  }
   button{
    margin:0 5px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: rgb(119, 119, 150);
   }
}


