@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #2B2730;
}

nav img {
    height: 5rem;
    width: 6rem;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 10px;
}

.search-bar {
    width: 25rem;
    height: 2.2rem;
    margin-top: 2rem;
    margin-left: 25rem;
    background-color: #b6a5ad;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 20px;
    font-family: Poppins;
}
nav button{
    margin-right: 21rem;
    height:2.3rem ;
    margin-top: 29px;
}
.hidden{
    display: none;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    margin-left: 7rem;
    margin-top: 2rem;
}
.popup-box{
    position: relative;
    margin: 0 auto;
    top: 10vh;
    border: 1px solid #28262b;
    background-color: #e4d3db;
    border-radius: 1.5rem;
    height: 15rem;
    width: 30%;
}