@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-all: Poppins;
.todos-content{
 
    border-radius: 8px;
    background-color: rgb(140, 151, 149);
    margin: 1rem auto;
    height: 45px;
    width: 40%;
    font-family: $font-all;
   ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
   }
   li{
    list-style-type: none;
   }
   button{
    cursor: pointer;
    border:none;
    padding: 12px;
    background-color: rgb(50, 129, 76);
    border-radius: 5px;
   }
  }