.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-position: center;
    object-fit: cover;
}

.blur-img {
    background-position: center;
    background-size: cover;
}

.blur-img.loaded > img {
    opacity: 1;
}

.blur-img > img {
    opacity: 0;
}