body{
    margin: 0;
    background-color:rgb(61, 49, 49);
}

.listContainer{
    position: relative;
    border: 1px solid #363636;
    /* height: 480vh; */
    width: 100vw;
    
    
}
.listContainer > ul{
    list-style: none;
    margin: 0;
    padding: 0;
   
}
li{
    list-style: none;
     inset: 0;
     overflow: hidden;
     
}

li > img{
    display: block;
    position: absolute;
    width: 100vw;
    height: 480px;
    object-fit: cover;
    object-position: center;
    
    
}
button{
    position: absolute;
    z-index: 2;
    border: none;
    padding: 5px;
    background-color:antiquewhite;
    border-radius: 10px;
    cursor: pointer;
    top: 30%;
    color: #363636;

}
#btn1{
   
    left: 1rem;
}
#btn2{
    right: 1rem;
}
