.image-container {
  margin: 2rem auto;
  border-radius: 8px;
  width: 50%;
  .slider-component {
    border-radius: 8px;
      height:500px;
    width: 50%;
    img{
      border-radius: 8px;
      height: 100%;
      width: 100%;
      object-fit: fit;
    }
    
  }
}
