body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    border-width: thin;
    margin: 100px auto;
    height: 425px;
    width: 28rem;
    padding-left: 30px;
    padding-top: 8px;
}
.input1, .input2, .input3, .input4, .input5{
    width: 240px;
    padding: 2px;
}
button{
    
}